body {
    display: flex;
    min-height: 100vh;
    margin: 0px;
}

.left {
    flex-basis: 30%;
    background-image: url('snow_path.jpeg');
    background-size: cover;
}

.right {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.right > div {
    flex-basis: 33%;
}

#create-account {
    padding: 8px 20px;
    font-size: 15px;
    background-color: rgb(46, 95, 217);
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 10px;
}

.field {
    flex-basis: 50%;
}

label, input {
    display: block;
}



